
/* general */

*{
    margin: 0;
    padding: 0;
}

/* main */

main{
    height: 1100px;
    width: 100%;
    background-color: lightgrey;
}


.container{
    position: relative;
    top: 50px;
    height: 850px;
    width: 758px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px; 
    padding: 30px;
}

/* first row */

.row{
    margin-bottom: 80px;
}

.item{
    width: 250px;
    height: 350px;
    display: inline-block;
    position: relative;    
}



.ts-levis:hover{
    background-image: url(../img/1b.webp);
    background-size: cover;
}
.ts-guess{
    background-image: url(../img/2.webp);
    background-size: cover;
}
.ts-guess:hover{
    background-image: url(../img/2b.webp);
    background-size: cover;
}

.green-dress{
    background-image:url(../img/3.webp);
    background-size:cover
}
.green-dress:hover{
    background-image: url(../img/3b.webp);

}
.ts-white{
    background-image: url(../img/4.webp);
    background-size: cover;
}
.ts-white:hover{
    background-image: url(../img/4b.webp);
    background-size: cover;
}
.dress{
    background-image: url(../img/5.webp);
    background-size: cover;
}
.dress:hover{
    background-image: url(../img/5b.webp);
    background-size: cover;
}
.ts-black{
    background-image:url(../img/6.webp);
    background-size: cover;
}
.ts-black:hover{
    background-image: url(../img/6b.webp);
    background-size: cover;
}



/* specs */

.specs{
    position: absolute;
    bottom: -60px;
}

.brand{
    font-size: 10px;
    font-family: sans-serif;
    color: grey;
    margin-bottom: 0px;;
}
.model{
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 0px;
}
.price{
    font-family: sans-serif;
    font-size: 12px;
    color:red
}
.last-price{
    font-family: sans-serif;
    font-size:12px;
    color: grey;
    text-decoration:line-through
}

/* icons */

.discount{
    font-size: 12px;
    font-weight:bold;
    background-color: red;
    padding: 4px;
    position: absolute;
    bottom: 10px;
}
.eco{
    font-size: 15px;
    font-weight: bold;
    background-color: green;
    padding: 3px;
    position: absolute;
    bottom: 10px;
    left: 40px;
}
.heart{
    font-size: 15px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 15px;
    right:0;
    text-align: center;
}